.buttonHeader {
  padding: 1rem;
}

.headerimg {
  position: relative;
  width: 100%;
  height: 575px;
  background: -moz-radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 1) 4%, rgba(138, 43, 226, 1) 48%);
  background: -webkit-radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 1) 4%, rgba(138, 43, 226, 1) 48%);
  background: -o-radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 1) 4%, rgba(138, 43, 226, 1) 48%);
  background: -ms-radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 1) 4%, rgba(138, 43, 226, 1) 48%);
  background: radial-gradient(ellipse at 100% 0%, rgba(255, 255, 255, 1) 4%, rgba(138, 43, 226, 1) 48%);
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  
}
.headerimg2{
  position:absolute;
  height:100%;
  width:30%;
  z-index: -1;
}




.title-text {
  text-align: left;
}